
PORT= 3001
NODE_ENV= develop

# Config JWT
JWT_TOKEN_SECRET= 
JWT_ISSUER= 
USE_MOCK=true    # true => dùng mock; false => dùng DB
DATABASE_URL=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# Facebook Login
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=http://localhost:3000/auth/login/facebook/callback

# Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=

# Redis
# REDIS_URL=redis://localhost:6379

EMAIL_PROVIDER=console|smtp|sendgrid|ses
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-password
EMAIL_FROM=noreply@example.com
SENDGRID_API_KEY=your-sendgrid-key
AWS_REGION=us-east-1